<div id="dashboard-charts"></div>

<script>
  window.surveyResponses = <%= @survey_responses.to_json.html_safe %>;
  window.wordCloud = <%= @word_cloud.to_json.html_safe %>;
</script>

<%= javascript_pack_tag "dashboard" %>
<%= stylesheet_pack_tag 'dashboard' %>
